# Ignorar archivos temporales de Python
__pycache__/
*.pyc

# Ignorar Datos (Videos y JSONs pesados)
data/
*.mp4
*.avi
*.mov

# Ignorar Modelos Entrenados (Pesan mucho)
models/
*.pth
*.pt
*.pkl

# Ignorar Carpetas de IDEs y Entornos
.vscode/
.idea/
venv/
env/

# Ignorar Logs de MLflow (Se quedan locales)
mlruns/