# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
eggs/
*.egg

# Virtual environments
venv/
ENV/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data (grandes archivos)
dataset/raw/**/*.mp4
dataset/processed/**/*.npy

# Modelos y experimentos
experiments/mlruns/
mlruns/
*.pth
*.onnx
*.db

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Temp
*.tmp
*.temp

# Screenshots
screenshot_*.png

